.formulario {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: rgba(182, 182, 248, 0.432);
}

#light-bulb {
  cursor: pointer;
  position: relative;
}
#light-bulb:hover #pregunta3 {
  visibility: visible;
}

#pregunta3 {
  position: absolute;
  visibility: hidden;
  top: 10px;
  right: -4rem;
  width: 8rem;
  background-color: #cccccc;
  color: white;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
#pregunta3::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #cccccc transparent;
}

#pensativa {
  cursor: pointer;
  position: relative;
}
#pensativa:hover #pregunta4 {
  visibility: visible;
}

#pregunta4 {
  position: absolute;
  visibility: hidden;
  top: 9px;
  right: -7rem;
  width: 15rem;
  background-color: #cccccc;
  color: white;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
#pregunta4::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #cccccc transparent;
}

.second{
  margin: 1rem 0 0;
  background: #d3d3d352;
  
}
.ternary{
  margin: 1rem 0 0;
  background: #d3d3d352;
  
}

.cajas{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}


#interrogacion {
  cursor: pointer;
  position: relative;
}

#interrogacion:hover #pregunta5 {
  visibility: visible;
}
#pregunta5 {
  position: absolute;
  visibility: hidden;
  top: 10px;
  right: -5rem;
  width: 8rem;
  background-color: #cccccc;
  color: white;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
#pregunta5::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #cccccc transparent;
}

#elemento2{
  display: none;
}
.opcionesNivel{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

#elemento3{
  display: none;
}

#elemento13A{
  display: none;
}
#elemento13B{
  display: none;
}
#elemento13C{
  display: none;
}
#elemento13D{
  display: none;
}
#elemento13E{
  display: none;
}
#elemento13F{
  display: none;
}
#elemento13G{
  display: none;
}
#elemento13H{
  display: none;
}
#elemento13I{
  display: none;
}