.formulario {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: rgba(182, 182, 248, 0.432);
}

#light-bulb {
  cursor: pointer;
  position: relative;
}
#light-bulb:hover #pregunta3 {
  visibility: visible;
}

#pregunta3 {
  position: absolute;
  visibility: hidden;
  top: 10px;
  right: -4rem;
  width: 8rem;
  background-color: #cccccc;
  color: white;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
#pregunta3::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #cccccc transparent;
}

#pensativa {
  cursor: pointer;
  position: relative;
}
#pensativa:hover #pregunta4 {
  visibility: visible;
}

#pregunta4 {
  position: absolute;
  visibility: hidden;
  top: 9px;
  right: -7rem;
  width: 15rem;
  background-color: #cccccc;
  color: white;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
#pregunta4::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #cccccc transparent;
}

.second {
  margin: 1rem 0 0;
  background: #d3d3d352;
}
.ternary {
  margin: 1rem 0 0;
  background: #d3d3d352;
}
.quinta {
  margin: 1rem 0 0;
  background: #d3d3d352;
}

.cajas {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

#interrogacion {
  cursor: pointer;
  position: relative;
}

#interrogacion:hover #pregunta5 {
  visibility: visible;
}
#pregunta5 {
  position: absolute;
  visibility: hidden;
  top: 10px;
  right: -5rem;
  width: 8rem;
  background-color: #cccccc;
  color: white;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
#pregunta5::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #cccccc transparent;
}

#elemento2 {
  display: none;
}
.opcionesNivel {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#elemento3 {
  display: none;
}

#elemento13A {
  display: none;
}
#elemento13B {
  display: none;
}
#elemento13C {
  display: none;
}
#elemento13D {
  display: none;
}
#elemento13E {
  display: none;
}
#elemento13F {
  display: none;
}
#elemento13G {
  display: none;
}
#elemento13H {
  display: none;
}
#elemento13I {
  display: none;
}

#elemento19A {
  display: none;
}

.container {
  background: hsl(0, 0%, 98%);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  border-radius: 0.5rem;
}
.container2 {
  background: hsl(0, 0%, 98%);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  border-radius: 0.5rem;
}
.container3 {
  background: hsl(0, 0%, 98%);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  border-radius: 0.5rem;
}
.optionTitles {
  /* background: lightpink; */
  display: grid;
  grid-template-columns: repeat(5, minmax(1rem, 1fr));
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.optionTitles2 {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.optionTitles3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(1rem, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.optionTitles label {
  display: flex;
  overflow: hidden;
}
.optionTitles2 label {
  display: flex;
  justify-self: center;
  overflow: hidden;

}
.optionTitles3 label {
  display: flex;
  justify-self: center;
  overflow: hidden;

}
.item {
  padding: 0.2rem;
  background-color: hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: repeat(5, minmax(1rem, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.item2 {
  padding: 0.2rem;
  background-color: hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: minmax(5rem, 1fr) 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.item3 {
  padding: 0.2rem;
  background-color: hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns:repeat(3, minmax(1rem, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulo {
  display: flex;
  justify-content: start;
  text-align: start;

}
.titulo2 {
  display: flex;
  justify-content: start;
  text-align: start;

}
.titulo3 {
  display: flex;
  justify-content: start;
  text-align: start;

}


#elemento21A{
  display: none;
}
#elemento22A{
  display: none;
}